*.dll
build/*
dist/*
RackPlugins/.vs/*
RackPlugins/_ReSharper.Caches/*
*.log
*.opensdf
*.suo
*.sdf
*.suo
*.db
*.vcxproj.user
RackPlugins/RackPlugins.VC.VC.opendb
*.pdb
*.tlog
*.filters
/.vs
/_ReSharper.Caches/ReSharperPlatformVs16192_4b3a14ae.00
